.container {
  height: 100vh;
  position: relative;
  overflow: hidden;
  transition: all .5s;

  .boxes {
    top: 40%;
    left: 50%;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    transition: all .5s;

    .box {
      position: absolute;
      left: 0;
      top: 0;
      width: 300px;
      height: 250px;
      transition: all .5s ease-in-out;

      &.green {
        translate: -100% -40%;
        transform-origin: top right;

        .shadow {
          translate: 0% -80%;
        }
      }

      &.purple {
        translate: -55% -35%;

        .shadow {
          translate: 7% -60%;
          filter: blur(18px);
        }
      }

      &.pink {
        translate: -15% -25%;

        .shadow {
          scale: 1.2;
          translate: 15% -50%;
        }
      }

      img {
        position: relative;
        z-index: 2;
        max-width: 100%;

        &.shadow {
          z-index: 1;
          transition: all .5s;
        }
      }
    }

    &:hover {
      .box {
        scale: 1.1;

        &.green {
          rotate: 35deg;
          translate: -83% -10%;
        }

        &.purple {
          translate: -65% -20%;
        }

        &.pink {
          rotate: 35deg;
          translate: 0 -15%;

          .shadow {
            filter: blur(30px);
          }
        }

        .shadow {
          filter: blur(18px);
        }
      }
    }
  }

  .btn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    transition: all .5s;

    button {
      width: 176px;
      height: 45px;
      background-color: black;
      color: white;
      border: none;
      cursor: pointer;
    }
  }

  &.fadeOutAnimation {
    background: #EBFFFC;

    .boxes {
      top: 0;
      opacity: 0;
    }

    .btn {
      bottom: -80px;
      opacity: 0;
    }
  }
}