@import "@styles/common/mixins";

.wrapper {
  padding: 37px 24px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;

  .createBtn {
    display: flex;
    padding: 8px 12px;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #E1E1E3;
  }
}

.cards {
  display: grid;
  gap: 20px;

  grid-template-columns: repeat(auto-fill, 428px);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .subtitle {
    color: var(--color-light-main-primary-dark-6);
    @include text-sm();
  }

  .title {
    @include text-display-xs(500);
  }
}
