@import "@styles/common/mixins";

.input {
  display: flex;
  gap: 16px;
  align-items: center;

  input {
    border: none;
    outline: none;
    min-width: 300px;
    background-color: transparent;

    &::placeholder {
      color: var(--color-light-main-primary-dark-4);
    }

    @include text-sm();
  }
}
