@mixin truncate($row){
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $row;
	-webkit-box-orient: vertical;
}

@mixin fade-bg-gradient($direction: 0deg) {
	&::before {
		content: '';
		position: absolute;
		inset: 0;
		z-index: 1;
		pointer-events: none;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 70%, #000 105.68%);
	}
}


@mixin text($fs, $lh, $fw: 400) {
	font-size: $fs;
	line-height: $lh;

	@if $fw != 400 {
		font-weight: $fw;
	}
}

// Basic text

@mixin text-tn($fw: 400) {
	@include text(0.75rem, 0.875rem, $fw); /* 12px */
}

@mixin text-sm($fw: 400) {
	@include text(0.875rem, 1.25rem, $fw); /* 14px */
}

@mixin text-md($fw: 400) {
	@include text(1rem, 1.5rem, $fw); /* 16px */
}

// Display text

@mixin text-display-xs($fw: 400) {
	@include text(1.5rem, 2rem, $fw); /* 24px */

	letter-spacing: -0.01em;
}

@mixin text-display-sm($fw: 400) {
	@include text(1.875rem, 2.375rem, $fw); /* 30px */

	letter-spacing: -0.01em;
}

@mixin text-display-md($fw: 400) {
	@include text(2.25rem, 2.75rem, $fw); /* 36px */

	letter-spacing: -0.01em;
}

@mixin text-display-lg($fw: 400) {
	@include text(3rem, 3.75rem, $fw); /* 48px */

	letter-spacing: -0.02em;
}

@mixin text-display-xl($fw: 400) {
	@include text(3.75rem, 4.5rem, $fw); /* 60px */

	letter-spacing: -0.02em;
}

